<h1><%= current_user.name %>'s repositories</h1>

<% @repositories.each do |repo| %>
  <ul class='user-repos'>
    <li><%= link_to "#{repo.name}", "#{repo.url}" %></li>
    <li><%= repo.language %></li>
  </ul>
<% end %>
